<div class="master-container">
    <div class="line-chart hourly-events" id="hourly-events-chart" *ngIf="currentDataType === 'ed' && !isLoading">
      <div>
        <span>Events Daily Chart</span>
        <apx-chart
            [series]="dailyEventsChartOptions.series"
            [chart]="dailyEventsChartOptions.chart"
            [dataLabels]="dailyEventsChartOptions.dataLabels"
            [plotOptions]="dailyEventsChartOptions.plotOptions"
            [xaxis]="dailyEventsChartOptions.xaxis"
        ></apx-chart>
      </div>
      <div class="info">
        <small>Click on a datapoint to know more.</small>
      </div>
    </div>
    <div class="line-chart hourly-events" id="hourly-events-chart" *ngIf="(currentDataType === 'esh' || currentDataType === 'esd') && !isLoading">
      <div>
        <span>Events with Stats Chart</span>
        <apx-chart #eventsWithStatsChart
            [series]="eventsWithStatsChartOptions.series"
            [chart]="eventsWithStatsChartOptions.chart"
            [yaxis]="eventsWithStatsChartOptions.yaxis"
            [xaxis]="eventsWithStatsChartOptions.xaxis"
            [labels]="eventsWithStatsChartOptions.labels"
            [stroke]="eventsWithStatsChartOptions.stroke"
            [plotOptions]="eventsWithStatsChartOptions.plotOptions"
            [markers]="eventsWithStatsChartOptions.markers"
            [fill]="eventsWithStatsChartOptions.fill"
            [tooltip]="eventsWithStatsChartOptions.tooltip"
        ></apx-chart>
      </div>
      <div class="info">
        <small>Click on a datapoint to know more.</small>
      </div>
    </div>
    <div class="line-chart hourly-events" id="hourly-events-chart" *ngIf="currentDataType === 'eh' && !isLoading">
      <div>
        <span>Events Hourly Chart</span>
        <apx-chart #hourlyEventsChart
          [series]="hourlyEventsChartOptions.series"
          [chart]="hourlyEventsChartOptions.chart"
          [xaxis]="hourlyEventsChartOptions.xaxis"
          [dataLabels]="hourlyEventsChartOptions.dataLabels"
          [grid]="hourlyEventsChartOptions.grid"
          [stroke]="hourlyEventsChartOptions.stroke"
          [title]="hourlyEventsChartOptions.title"
        ></apx-chart>
      </div>
      <div class="info">
        <small>Click on a datapoint to know more.</small>
      </div>
    </div>
    <div class="donut-chart" *ngIf="currentDataType === 'eh' && !isLoading">
        <apx-chart #hourlyEventsDonutChart
          [series]="hourlyEventsDonutChartOptions.series"
          [chart]="hourlyEventsDonutChartOptions.chart"
          [xaxis]="hourlyEventsDonutChartOptions.xaxis"
          [stroke]="hourlyEventsDonutChartOptions.stroke"
          [colors]="hourlyEventsDonutChartOptions.colors"
          [dataLabels]="hourlyEventsDonutChartOptions.dataLabels"
          [tooltip]="hourlyEventsDonutChartOptions.tooltip"
          [plotOptions]="hourlyEventsDonutChartOptions.plotOptions"
          [markers]="hourlyEventsDonutChartOptions.markers"
          [yaxis]="hourlyEventsDonutChartOptions.yaxis"
          [fill]="hourlyEventsDonutChartOptions.fill"
          [title]="hourlyEventsDonutChartOptions.title"
        ></apx-chart>
    </div>
    <app-spinner *ngIf="isLoading"></app-spinner>
</div>